.hero-bg {
  background: url("../../assets/Banner/servicesDetailsBanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
}
