.BrainhubCarousel__arrows {
  background-color: #fcd900 !important;
  padding: 12px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fcd900 !important;
}

.swiper-pagination-bullet {
  border-radius: none !important;
  background: #fcd900 !important;
  /* opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); */
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  width: 6px !important;
  height: 6px !important;
  /* border-radius: 1px !important; */
}
